@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #1f242d;
}
a {
    color: white;
    text-decoration: none;
}
.nav {
    position: fixed;
    left : 0;
    top : 0;
    width : 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}
.nav .logo {
    font-size: 80px;
    font-weight: 500;
    color: white;
    font-family: 'Engagement', cursive;
}
.nav ul{
    display: flex;
}
.nav ul li {
    list-style: none;
    margin-left: 40px;
}
.nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}
.nav ul li a:hover {
    color: yellow;
}
.home {
    display:flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;    
}
.home-info h1 {
    font-size: 60px;
}
.home-info h2 {
    font-size: 30px;
    margin-top:-20px;
}
.home-info p {
    font-size: 12px;
    margin: 10px 0 20px;
}
.btn-sci {
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 30px;
    box-shadow: 0 0 10px yellow;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}
.btn:hover {
    background-color: transparent;
    color: yellow;
}
.sci {
    margin-left: 20px;
}
.sci a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 50%;
    font-size: 20px;
    color: yellow;
    transition: .5s;
}
.sci a:hover{
    background-color: yellow;
    color: black;
    box-shadow:0 0 10px yellow;
}
.home-img .img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    margin-left: 120px;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 10px;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, yellow);
    
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    z-index: 1;
    justify-content:center;
    overflow: hidden;
}
.home-img .img-box .img-item img{   
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
}